{
    "env": {
        "browser": true,
        "es2021": true
    },
	"plugins": [
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
        "plugin:react/recommended",
		"plugin:react/jsx-runtime"
    ],
	"parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 12,
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "process": true,
        "module": true,
        "__dirname": true
    },
    "rules": {
        "@typescript-eslint/indent": [
            2,
            "tab"
        ],
        "no-shadow": 0,
        "@typescript-eslint/no-shadow": [
            "error"
        ],
        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": [
            "error"
        ],
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 1,
        "eqeqeq": 2,
        "array-callback-return": 1,
        "curly": [
            2
        ],
        "default-case": 1,
        "no-alert": 2,
        "no-else-return": 1,
        "no-empty-function": 2,
        "no-eval": 2,
        "no-param-reassign": 2,
        "no-use-before-define": 2,
        "yoda": [
            2,
            "never"
        ],
        "block-spacing": 2,
        "eol-last": 1,
        "comma-style": [
            2,
            "last"
        ],
        "comma-spacing": [
            2,
            {
                "before": false,
                "after": true
            }
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
        "camelcase": 2,
        "brace-style": 2,
        "key-spacing": [
            2,
            {
                "beforeColon": false
            }
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "multiline-ternary": [
            2,
            "always-multiline"
        ],
        "no-var": 2,
        "no-lonely-if": 2,
        "no-trailing-spaces": 2,
        "no-whitespace-before-property": 2,
        "object-property-newline": 2,
        "object-curly-spacing": [
            2,
            "always"
        ],
        "no-duplicate-imports": 2,
        "no-useless-constructor": 2,
        "object-shorthand": [
            2,
            "always",
            {
                "avoidQuotes": true
            }
        ],
        "prefer-const": 2,
        "prefer-destructuring": [
            2,
            {
                "array": true,
                "object": true,
            },
            {
                "enforceForRenamedProperties": false
            }
        ],
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "prefer-template": 2
    }
}