@import '@/assets/sass/variables';

.default {
	padding-bottom: 16px;
}

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
	box-shadow: $card_shadow;
	height: $header_height;
	width: 100%;
	padding: 16px;
	display: flex;
	align-items: center;

	&__logo {
		width: 60px;
		margin-left: 12px;
	}

	&__navList {
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;
	}

	&__navLink {
		display: inline-block;
		padding: 0 12px;
		&.active {
			color: $color_primary;
		}
	}

	&__scrollbar {
		position: absolute;
		top: 0;
		width: 100%;
		height: 4px;
		background: linear-gradient(45deg,$color_primary, darken($color_primary, 20%), lighten($color_primary, 20%), $color_primary);
		background-size: 500% 500%;
		animation: gradient 3s ease infinite;
	}
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
