.flex {
	display: flex;
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}
.items-end {
	align-items: flex-end;
}

.mb-2 {
	margin-bottom: 8px;
}
.mr-2 {
	margin-right: 8px;
}
.ml-2 {
	margin-left: 8px;
}

.text-primary {
	color: $color_primary
}

.text-center {
	text-align: center;
}

.container {
	width: 100%;
	margin: auto;
	padding: 0 8px;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
		padding: 0;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px
	}
}